body{
	font-family: sans-serif;
	margin: 0;
}

#slider{
	background-color: #F4E5EC;
}
.header{
	margin-left: 10rem;
}
.header h5{
	color: #F23549;
	font-weight: bold;
	margin-top: 9rem;
}
.header h1{
	font-size: 70px;
	font-weight: bold;

}

/*mediacuries*/
@media only screen and (max-width: 470px) {
	.header{
		margin-left: 5rem;
	}
	.header h5 {
    font-size: 16px !important;
  }
  .header h1 {
    font-size: 28px !important;
  }
}